
form.search-action input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.search-action button {
    
    width: 20%;
    padding: 10px;
    background: green;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.search-action button:hover {
    background: orange;
  }
  
  form.search-action:after {
    content: "";
    clear: both;
    display: table;
  }